<nav>
    <a href="/">home</a> ||
    <a href="/projects">{{{__ "nav projects"}}}</a> ||
    <a href="/blog">blog</a> ||
    <a href="/links">links</a> ||
    <div class="dropdown">
        <a href="#" class="dropdownlink">edit</a> ||
        <div id="dropdownmenu" class="dropdown-content">
            <p>|| <a href="/edit/profile">{{{__ "nav add project"}}}</a></p>
            <p>|| <a href="/update/profile">{{{__ "nav update project"}}}</a></p>
            {{#if editor}}
                <p>|| <a href="/edit/post">{{{__ "nav edit post"}}}</a></p>
                <p>|| <a href="/update/post">{{{__ "nav update post"}}}</a></p>
            {{/if}}
        </div>
    </div>
    <a href="/logout">logout</a> ||
    <a href="/lang">de/en</a>
</nav>
