<h1>{{{__ "heading own projects"}}}</h1>

<h3>{{{__ "p own projects"}}}</h3>

<!-- <ul>
{{#each updateProjectDe}}

<li><a href="/update/profile/{{id}}">{{de_name}}</a></li>
{{/each}}
</ul> -->

<div class="projects-outer-container">
{{#each updateProjectDe}}
    <div class="project-container">
        <a href="/update/profile/{{id}}"><img src={{image}}></a>
        <div class="project-text-container">
            <h2>{{de_name}}</h2>
            <p>{{de_short}}</p>
        </div>
    </div>
{{/each}}
</div>

<div class="projects-outer-container">
{{#each updateProjectEn}}
    {{#if en_name}}
    <div class="project-container" id="{{id}}">
        <a href="/update/profile/{{id}}"><img src={{image}}></a>
        <div class="project-text-container">
            <h2>{{en_name}}</h2>
            <p>{{en_short}}</p>
        </div>
    </div>
    {{/if}}
{{/each}}
</div>


<!-- <ul>
{{#each updateProjectEn}}
<li><a href="/update/profile/{{id}}">{{en_name}}</a></li>
{{/each}}
</ul> -->
