<h1>{{heading}}</h1>

{{#if successupdate}}
    <h3>{{{__ "msg success update"}}}</h3>
    <p><strong><a href="{{link}}">{{{__ "msg success update link"}}}</a></strong></p>
{{/if}}

{{#if successaddproject}}
    <h3>{{{__ "msg success add project"}}}</h3>
    <p><strong><a href="{{link}}">{{{__ "msg success add project link"}}}</a></strong></p>
{{/if}}

<div class="projects-outer-container">
{{#each projectsEn}}
    {{#if en_name}}
    <div class="project-container" id="{{id}}">
        <a href="/projects/{{id}}"><img src={{image}}></a>
        <h2>{{en_name}}</h2>
        <p>{{en_short}}</p>
        <p>{{en_tags}}</p>
    </div>
    {{/if}}
{{/each}}
</div>

<div class="projects-outer-container">
{{#each projectsDe}}
    <div class="project-container">
        <a href="/projects/{{id}}"><img src={{image}}></a>
        <h2>{{de_name}}</h2>
        <p>{{de_short}}</p>
        <p>{{de_tags}}</p>
    </div>
{{/each}}
</div>

{{#each singleProjectEn}}
    <div class="blog-roll-container">
        <img src={{image}}>
        <h1>{{en_name}}</h1>
        <p><strong>{{en_short}}</strong></p>
        <p><pre>{{en_long}}</pre></p>
        <p>{{#if en_contribute}}<strong>How to contribute</strong>:{{/if}} <pre>{{en_contribute}}</pre></p>
        <p>{{#if en_loc}}<strong>Location</strong>:{{/if}} {{en_loc}}</p>
        <p>{{en_tags}}</p>
        <p>{{#if en_web}}<strong>Web</strong>: {{/if}}<a href="{{en_web}}">{{en_web}}</a></p>
    </div>
{{/each}}


{{#each singleProjectDe}}
<div class="blog-roll-container">
    <img src={{image}}>
    <h1>{{de_name}}</h1>
    <p><strong>{{de_short}}</strong></p>
    <p><pre>{{de_long}}</pre></p>
    <p>{{#if de_contribute}}<strong>Mitmachen</strong>:{{/if}} <pre>{{de_contribute}}</pre></p>
    <p>{{#if de_loc}}<strong>Location</strong>:{{/if}} {{de_loc}}</p>
    <p>{{de_tags}}</p>
    <p>{{#if de_web}}<strong>Web</strong>: {{/if}}<a href="{{de_web}}">{{de_web}}</a></p>
</div>
{{/each}}
