<h1>{{heading}}</h1>



<div class="projects-outer-container">
{{#each projectsEn}}
    {{#if en_name}}
    <!-- <a href='/projects/{{id}}'>-->
    <div class="project-container" id="{{id}}">
        <a href="/projects/{{id}}"><img src={{image}}></a>

        <h2>{{en_name}}</h2>
        <p>{{en_short}}</p>
        <p>{{en_tags}}</p>
    </div>
<!-- </a> -->
    {{/if}}
{{/each}}
</div>

<div class="projects-outer-container">
{{#each projectsDe}}
    <!-- <a href='/projects/{{id}}'>-->
    <div class="project-container">
        <a href="/projects/{{id}}"><img src={{image}}></a>
        <h2>{{de_name}}</h2>
        <p>{{de_short}}</p>
        <p>{{de_tags}}</p>
    </div>
<!-- </a> -->
{{/each}}
</div>

{{#each singleProjectEn}}
    <div class="blog-roll-container">
        <img src={{image}}>
        <h1>{{en_name}}</h1>
        <p><strong>{{en_short}}</strong></p>
        <p><pre>{{en_long}}</pre></p>
        <p><strong>How to contribute</strong>: <pre>{{en_contribute}}</pre></p>
        <p>{{en_tags}}</p>
        <p><strong>Web</strong>: <a href="{{en_web}}">{{en_web}}</a></p>
    </div>
{{/each}}


{{#each singleProjectDe}}
<div class="blog-roll-container">
    <img src={{image}}>
    <h1>{{de_name}}</h1>
    <p><strong>{{de_short}}</strong></p>
    <p><pre>{{de_long}}</pre></p>
    <p><strong>Mitmachen</strong>: <pre>{{de_contribute}}</pre></p>
    <p>{{de_tags}}</p>
    <p><strong>Web</strong>: <a href="{{de_web}}">{{de_web}}</a></p>
</div>
{{/each}}
